@import '../../shared/SCSS/_breakpoints.module.scss';
@import '../../shared/SCSS/_color.module.scss';
@import '../../shared/SCSS/_font.module.scss';

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    width: 80%;
}
.Or {
    width: 100%;
    text-align: center;
    border-bottom: 1.5px solid rgb(0, 0, 0);
    line-height: 0.05rem;
    font-size: 16px;
    opacity: 0.2;
    font-family: $Second-FontType;
    margin: 15% 0 15%;

    span {
        background: #fff;
        padding: 0 10px;
    }
}

.Login {
    color: $First-BackgroundColor;
    font-family: $Second-FontType;
    font-size: 0.8em;
}
