@import '../../shared/SCSS/_breakpoints.module.scss';

.Lobby {
    width: 100%;
    margin: 10px auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;

    @include respond(tab-portrait) {
        width: 50%;
    }

    @include respond(tab-landscape) {
        margin: 0 2%;
        width: 36%;
        justify-content: space-evenly;
    }

    @include respond(lrg-desktop) {
        width: 20%;
    }
}

.Content {
    display: flex;
}