@import '../../../shared/SCSS/_font.module.scss';
@import '../../../shared/SCSS/_color.module.scss';

.Gamemode {
    width: 100%;
    font-family: $Third-FontType;
}

.NameAuthor {
    display: flex;
    justify-content: space-between;

    font-size: 3vh;
}

.Description {
    width: 100%;
    font-size: 2vh;

    border-top: 1px solid $First-BackgroundColor;
    margin-top: 5px;
    padding-top: 5px;
}

.DescriptionHidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Closed {
    display: none;
}
