$First-BackgroundColor: #47bdff;
$Second-BackgroundColor: #fdfdfd;
$Warning-BackgroundColor: #dc0073;
$Modal-BackgroundColor: rgba(0, 0, 0, 0.5);
$Border-Color: #e6e6e6;
$Selected-Color: #dc0073;
$First-FontColor: #252525;
$Second-FontColor: #fdfdfd;
$Third-FontColor: #47bdff;
$Crown: #ffbe00;
