$First-BackgroundColor: #47bdff;
$Second-BackgroundColor: #fdfdfd;
$Modal-BackgroundColor: rgba(0, 0, 0, 0.5);
$Selected-Color: #DC0073;
$First-FontColor: #252525;
$Second-FontColor: #fdfdfd;
$Third-FontColor: #47bdff;
$Crown: #FFBE00;